numpy
pandas
tqdm
pytorch-pretrained-bert==0.6.2
scikit-learn
click
langid
seqeval
conlleval
toolz
cloudpickle
pytest
pytest-cov
flask
Flask-Caching
gunicorn
somajo
qurator-sbb-utils @ git+https://github.com/qurator-spk/sbb_utils.git
qurator-sbb-tools @ git+https://github.com/qurator-spk/sbb_tools.git
